*{
	box-sizing: border-box;
}

body{
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
	overflow: hidden;
	transition: all 1s;
}
/*Header*/
.header{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}
.nav-main{
	display: flex;
}

.link, a{
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	color: #333;
	margin: 5px 5px;

}

.link a:hover {
	text-decoration: underline;
}

.icon-apps {
	font-size: 1.2em;
	margin: 10px;
	padding: 10px;
	height: 2em;
	width: 2em;
	border-radius: 50%;
	text-align: center;
	color: #999;
}

.icon-apps:hover{
	background-color: #eee;
}

.img-perfil{
	height: 2.5em;
	border-radius: 50%;
}
.img-perfil:hover{
	box-shadow: 0 0 0px 5px #eee;
}

.perfil{
	width: 10px;
	margin: 10px 0px;
	margin-right: 55px;
}

/*Main*/
main,
.logo{
	margin-bottom: 2em;
}

.logo{
	height: 5.7em;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.buscador{
	display: flex;
	margin-right: auto;
	margin-left: auto;
	max-width: 36em;
	width: 80%;
	height: 45px;
	border-radius: 50px;
	border: 1px solid #ccc;
	margin-bottom: 2em;
}
.buscador:hover{
	box-shadow: 0 1px 10px 1px #ccc;
	border: 0;
}

.buscador-input, .lupa, .microphone{
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.buscador-input{
	border: 0;
	width: 80%;
	height: 95%;
	margin-top: 2px;
}
.microphone, .lupa{
	margin-top: 10px;
	color: #999;
}

.bottones-buscador{
	text-align: center;
}
.buttom {
	background-color: #f8f9fa;
	font-size: 15px;
	padding: 10px 15px;
}
.text-ofrecido{
	font-size: 13px;
	text-align: center;
}
.text-ofrecido a{
	color: blue;
}
.buttom:hover{
	box-shadow: 0 0px 1px 1px #ccc;
}


/*Footer*/
footer{
	width: 100%;
	background-color:#eee;
	position: absolute;
	bottom: 0;
}
.links-footer,
.link-footer{
	height: 40px;
	display: flex;
}
.links-footer ul{
	padding: 4px 0px;
	padding-left: 23px;
	margin-top: 0;
}

.links2{
	position: absolute;
	right: 0;
	margin-right: 30px;
}
.links-footer a, .pais{
	color: #777;
	font-size: 16px;
}

.pais{
	margin-left: 10px;
	border-bottom: 1px solid #ccc;
	padding: 15px 20px;
}

.link-footer ul{
	padding: 2px 20px 2px 0px;
}

/* Dark Mode -------------------------------------------------------*/
.dark,
.dark .buscador-input{
	background-color: #202124;
	color: #c9c9ca;
}
.dark footer{
	background-color: #171717;
	transition: all 2s;
}
.dark .buttom{
	background-color: #303134;
	color: #c9c9ca;
	transition: all 2s;
}
.dark .link a{
	color: #c9c9ca;
	transition: all 2s;
}
.dark .text-ofrecido a{
	color: #8ab4f8;
}

/* Botón del Dark Mode ---------------- */
.dark__button{
	width: 3.5em;
	height: 1.8em;
	margin-left: 20px;
	border-radius: 30px;
	display: flex;
	overflow: hidden;
	border: 3px solid rgb(151, 151, 151);
	position: relative;
}
.dark .dark__button{
	border-color: #c9c9ca;
}
.dark__button--dark,
.dark__button--white{
	height: 100%;
	width: 50%;
	cursor: pointer;
}
.dark__button--dark,
.dark__button--white{
	background-color: rgb(151, 151, 151);
}
.dark .dark__button--white,
.dark .dark__button--dark{
	background-color: #c0c0c9;
}
.dark__button::before{
	content: '';
	display: inline-block;
	background-color: #5a98fc;
	width: 50%;
	height: 100%;
	border-radius: 50%;
	position: absolute;
	right: 0;
	left: auto;
	transition: all 2s;
}

.dark .dark__button::before{
	left: 0;
	right: auto;
	background-color: #4285f4;
}